.list-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lavender;
    width: 90%;
    margin: 40px auto;
    padding: 20px 0;
    border-radius: 5px;
  }

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

img {
    width: 200px;
    border-radius: 10px;
}

.load-more {
    width: 320px;
    font-size: 24px;
    border: none;
    border-radius: 50px;
    background-color: aliceblue;
    height: 40px;
    cursor: pointer;
    margin-top: 20px;
}
